I am here <b>to</b> show the information about one particular recipe


<p>id: <%= @recipe1.id %></p>
<p>title: <%= @recipe1.title %></p>
<p>directions: <%= @recipe1.directions %></p>
<p>chef: <%= @recipe1.chef %></p>
<p>ingredients: <%= @recipe1.ingredients %></p>
<p>image_url: <%= @recipe1.image_url %></p>
<p>prep_time: <%= @recipe1.prep_time %></p>
<p>created_at: <%= @recipe1.created_at %></p>
<p>updated_at: <%= @recipe1.updated_at %></p>
